.header
  .header-left
    禁酒でGo!!!
  .header-right
    .header-right__field-left
      = link_to edit_user_path(current_user) do
        %button.btn.btn-primary{type: "button"} ユーザー管理


    
    .header-right__field-right
      = fa_icon 'twitter', class: 'icon'

.middle
  .current-user
    = current_user.name
  .savings-registration
    = link_to '貯金登録', new_tweet_path, class: 'btn btn-primary'
  .total-record
    ￥合計金額
.main
  .left-box
    = image_tag 'beer1.jpg'

  .main-box
    #calendar

  .right-box
    = image_tag 'beer2.jpg'

.tweets
  %h2 投稿一覧
  - @tweets.each do |tweet|
    %p= tweet.text
    %p= tweet.money
    = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get
    = link_to '削除', "/tweets/#{tweet.id}", method: :delete





